<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title text-muted">Information</h4>
                </div>
            </div>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URI</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status Codes</th>
                    <th scope="col">Description</th>
                    <th scope="col">Module</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">{{endpoint.name}}</td>
                    <td>{{endpoint.uri}}</td>
                    <td>
                      <span class="badge badge-{{endpoint.method}}">{{endpoint.method}}</span>
                    </td>
                    <td>
                      <status-code [data]="endpoint.statusCodes"></status-code>
                    </td>
                    <td>{{endpoint.description}}</td>
                    <td><a routerLink="/{{endpoint.module.path}}">{{endpoint.module.name}}</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <div class="card-columns endpoint-columns">
      <div class="card" *ngIf="graphQLSchema">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center w-25">
            <div class="h4 mr-2 text-muted">
              <i class="{{settings.schema.icon}}" aria-hidden="true"></i>
            </div>
            <h4 class="card-title mr-2 text-muted">GraphQL Schema</h4>
          </div>
          <pre><code [highlight]="graphQLSchema"></code></pre>
        </div>
      </div>

      <div class="card" *ngIf="requestSchema">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center w-25">
            <div class="h4 mr-2 text-muted">
              <i class="{{settings.schema.icon}}" aria-hidden="true"></i>
            </div>
            <h4 class="card-title mr-2 text-muted">Request Schema</h4>
          </div>
          <pre><code [highlight]="requestSchema"></code></pre>
        </div>
      </div>

      <div class="card" *ngIf="responseSchema">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center w-25">
            <div class="h4 mr-2 text-muted">
              <i class="{{settings.schema.icon}}" aria-hidden="true"></i>
            </div>
            <h4 class="card-title mr-2 text-muted">Response Schema</h4>
          </div>
          <pre><code [highlight]="responseSchema"></code></pre>
        </div>
      </div>

      <div class="card" *ngIf="errorResponseSchema">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center w-25">
            <div class="h4 mr-2 text-muted">
              <i class="{{settings.schema.icon}}" aria-hidden="true"></i>
            </div>
            <h4 class="card-title mr-2 text-muted">Error Response Schema</h4>
          </div>
          <pre><code [highlight]="errorResponseSchema"></code></pre>
        </div>
      </div>
    </div>
</div>
