// Here you can add other styles
.card-title {
  white-space: nowrap;
}

.dashboard-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
  @include media-breakpoint-up(xl) {
    column-count: 4;
  }
}

.context-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
  @include media-breakpoint-up(xl) {
    column-count: 4;
  }
}

.module-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}

.endpoint-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}

.schema-columns, .topic-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
  @include media-breakpoint-up(xl) {
    column-count: 2;
  }
}

.badge-POST {
  background-color: $_color-post;
  color : $white;
}

.badge-GET {
  background-color: $_color-get;
  color : $white;
}

.badge-PUT {
  background-color: $_color-put;
}

.badge-DELETE {
  background-color: $_color-delete;
  color : $white;
}

.badge-HEAD {
  background-color: $_color-head;
  color : $white;
}

.badge-PATCH {
  background-color: $_color-patch;
}

.badge-OPTIONS {
  background-color: $_color-options;
  color : $white;
}